# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Data (Ignore large raw inference artifacts, but track compiled output)
data/results.json
data/boundaries.json
data/timing.json

# IDEs
.vscode/
.idea/
